.card_main_container {
  max-width: 250px;
  box-shadow: var(--box_shadow);
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem auto;
  display: block;
}

#dark .card_main_container {
  background: var(--primary_dark);
}

.country_flag {
  height: 150px;
  object-fit: cover;
  width: 100%;
  display: block;
}

.country_name,
.country_data_sub_container {
  padding: 1rem;
}
.country_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.country_name:hover {
  white-space: pre-line;
}
.country_data_sub_container {
  padding-top: 0;
}

.country_data_sub_container > * {
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .card_main_container {
    margin: 1rem 0;
    flex-basis: 250px;
  }
}
