.country_details_container {
   width: 85%;
   max-width: 1440px;
   margin: 2rem auto;
   align-items: center;
}

.go_back {
   display: flex;
   gap: 10px;
   cursor: pointer;
   padding: .5rem 1rem;
   border: none;
   background: var(--white);
   border-radius: 5px;
   margin-bottom: 3.5rem;
   font-family: inherit;
   box-shadow: var(--box_shadow);
   color: var(--black);
}

@media (min-width: 768px) {
   .country_details_container {
      width: 90%;
   }
}