* {
   padding: 0;
   margin: 0;
   max-width: 100%;
   box-sizing: border-box;
}

:root {
   --primaryFont : 'Nunito Sans', sans-serif;
   --box_shadow : 0px 2px 8px rgba(99, 99, 99, 0.4);
   --black :  #111517;
   --white : #ffffff;
   --red : red;
   
   /* ========== DARK MODE VARIABLE ========== */
   --bg_dark : #202d36;
   --primary_dark : #2b3743;
}

body {
   font-family: var(--primaryFont);
   font-weight: 400;
   font-size: .900rem;
   color: var(--black);
   --scroll_color : black;
   --filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(321deg) brightness(107%) contrast(101%);
}

body #dark {
   color: var(--white);
   --scroll_color : white;
   --filter: invert(0%) sepia(1%) saturate(30%) hue-rotate(40deg) brightness(88%) contrast(100%);
}

a {
   text-decoration: none;
   color: inherit;
}

.bold_text {
   font-weight: 800;
}

@media (min-width: 600px) {
   body {
      font-size: 1rem;
   }
}