* {
   padding: 0;
   margin: 0;
   max-width: 100%;
   box-sizing: border-box;
}

:root {
   --primaryFont : 'Nunito Sans', sans-serif;
   --box_shadow : 0px 2px 8px rgba(99, 99, 99, 0.2);
   --black :  #111517;

}

body {
   font-family: var(--primaryFont);
   font-weight: 400;
   font-size: .900rem;
   color: var(--black);
}

a {
   text-decoration: none;
   color: inherit;
}